html {
  height: 100%;
  background: linear-gradient(111.5deg, rgb(228, 247, 255) 21.9%, rgb(255, 216, 194) 92.2%);
    
}
body {

  margin: 50px;
  padding: 10px;
    font-family: "Montserrat", sans-serif;
  }
  section {
    max-width: 45%;
    margin: 10px auto;
    padding: 30px 40px 20px 40px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 2px 2px 1px rgb(0 0 0 / 50%);
  }
  .navbar {
    padding-left: 0px;
  }
  nav .container {
    display: flex;
    width: 90%;
  }
  .container {
    padding: 0px;
  }
  #search-bar {
    border-radius: 8px;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }
  .form-search {
    border: none;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 8px;
    width: 100%;
    padding-left: 8px;
    margin-right: 10px;
    font-family: "Montserrat", sans-serif;
  }
  .form-search::placeholder {
    font-family: "Montserrat", sans-serif;
  }
  .btn {
    margin-right: 10px;
  }
  button {
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    background-color: grey;
    color: rgb(234, 243, 255);
    border-radius: 8px;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  }
  #current {
    background-color: steelblue;
  }
  button:hover {
    color: black;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
    color: gray;
  }
  h3 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0px;
    padding-bottom: 10px;
  }
  h4 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
    padding-bottom: 10px;
  }
  #description {
    text-transform: capitalize;
  }
  .temperature {
    display: inline-flex;
  }
  .formula {
    padding: 0px;
  }

  a:hover {
    color: gray;
  }
  .active {
    font-weight: 700;
  }
  span {
    color: steelblue;
  }
  
  .row {
    display: grid;
    font-size: 1rem;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    line-height: 2.2rem;
    text-align: center;
  }
  .forecast-date {
    font-weight: bolder;
  }
  .forecast-icon {
    font-size: 2rem;
  }

  footer {
    max-width: 600px;
    margin: 0px auto;
    text-align: center;
  }
  footer a {
    text-decoration: none;
    color: steelblue;
  }
  
  /*Responsive Styles */

  @media (max-width: 1200px) {
    body {
      margin: 10px auto;
    }
    section {
      max-width: 80%;

    }

  }